* {
  box-sizing: border-box;
}

.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clear {
  clear: both;
}

html, body {
  height: 100%;
  font-size: 18px;
  color: #ddd;
  background-color: #303030;
}

header {
  text-align: center;
}

#wrapper {
  min-height: 100%;
  width: 1024px;
  margin: 1% auto 0px;
  padding: 1%;
}

footer {
  text-align: center;

  position: relative;
  height: 75px;
  padding-top: 21px;
  margin-top: -75px; /* negative value of footer height */
  clear: both;
}

#mobile-disclaimer {
  display: none;
}

#card-buttons {
  display: none;
  padding: 1em;
}

#content {
  overflow: auto;
  padding-bottom: 6%;
  text-align: center;
}

#card-table {
  width: 100%;
  padding-top: 2%;
}

#card-table .header {
  margin-bottom: 1%;
}

#card-table .header .card-column {
  padding: 1%;
  border-bottom: 3px solid gray;
}

#card-table .body {
  margin-bottom: 15%;
}

#card-table .table-row {
  padding: 1em;
}

#card-table .table-row.selected {
  border: 3px solid #0056d8;
  border-radius: 10px;
}

.card-column {
  width: 28%;
  display: inline-block;
}

.card {
  border: 2px solid #808080;
  border-radius: 10px;
  height: 100px;
  vertical-align: middle;
  margin: 1%;
  display: inline-flex;
  padding: 1%;
  overflow: scroll;
}

.card p {
  margin: auto;
}

.card.left, .card.right {
  font-size: 32px;
}

.card.card-small {
  font-size: 24px;
}

.card.card-v-small {
  font-size: 18px;
}

.card.notes {
  text-align: left;
  font-size: 13px;
}

.card.notes p {
  margin: 1%;
}

.card.notes.no-content {
  border: 1px solid gray;
}

.divider-text {
  text-align: center;
  font-size: 48px;
  border-bottom: 3px solid gray;
}

.filler {
  display: inline-block;
  width: 6%;
}

button {
  height: 1.75em;
  border-radius: 5px;
  background-color: #906020;
  border-color: #303030;
  color: #ffe5b3;
}

button.btn-remove, button.btn-unremove {
  width: 2em;
  height: 2em;
}

#load-deck-container {
  display: inline-block;
  padding: 1em;
}

#deck-notes-container {
  display: none;
  padding: 1em;
}

#deck-notes {
  display: none;
}

#deck-notes-content {
  border: 2px solid gray;
  border-radius: 10px;
  text-align: left;
  padding: 1%;
  line-height: 1.2;
}

#control-container {
  margin-bottom: 1em;
}

#user-guide {
  position: relative;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 1%;
  line-height: 1.2;
  font-size: 14px;
}

#user-guide #btn-hide-guide {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;
}

#user-guide .instructions {
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1.5em;
}

#user-guide .instructions ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1%;
  padding-right: 1%;
}

#user-guide .instructions li {
  margin-bottom: .5em;
}

#user-guide #app-instructions {
  display: none;
}

#user-guide #keys-container {
  display: none;
}

#flashcard-container {
  display: none;
}

#toggle-theme-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 200px;
  z-index: 1;
}

#btn-toggle-theme {
  background-color: #eee;
  color: #222;
  font-size: .7em;
}

a:link,
a:hover,
a:active {
  color: #afcefd;
}

a:visited {
  color: rgb(171, 102, 180);
}

@media screen and (max-width: 1023px) {
  #wrapper {
    width: 100%;
  }

  header h1 {
    font-size: 32px;
  }

  #user-guide .instructions {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {

  header h1 {
    font-size: 26px;
  }

  #mobile-disclaimer {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 1em;
  }

  #load-deck-container {
    width: 100%;
  }

  #sel-deck {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
  }

  button {
    width: 100%;
    height: 3.5em;
    margin-bottom: .5em;
  }

  button.btn-remove, button.btn-unremove {
    width: 100%;
    height: 3.5em;
  }

  button#btn-load-deck {
    margin-bottom: 2em;
  }

  #user-guide {
    display: none;
  }

  .card.left, .card.right {
    font-size: 18px;
  }

  .card.notes {
    font-size: 11px;
  }

  .table-row {
    margin-bottom: 1.5em;
  }

  #card-table .table-row.selected {
    border: none;
  }

  #toggle-theme-container {
    display: none;
  }

  .filler {
    display: none;
  }
}