* {
  box-sizing: border-box;
}

.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clear {
  clear: both;
}

html, body {
  height: 100%;
  font-size: 18px;
  color: #505050;
  background-color: #FFCCC5;
}

header {
  text-align: center;
}

#wrapper {
  min-height: 100%;
}

#content {
  width: 1024px;
  margin: 10px auto 0px;
  overflow: auto;
  padding-bottom: 65px;
  text-align: center;
}

#card-table {
  width: 100%;
  padding-top: 20px;
}

#card-table .header {
  margin-bottom: 10px;
}

#card-table .header .card-column {
  padding: 5px;
  border-bottom: 3px solid gray;
}

#card-table .body {
  margin-bottom: 150px;
}

#card-table .table-row {
  padding: 5px;
}

#card-table .table-row.selected {
  border: 3px solid #606060;
  border-radius: 10px;
}

.card-column {
  width: 29%;
  display: inline-block;
}

.card {
  border: 2px solid #808080;
  border-radius: 10px;
  height: 100px;
  vertical-align: middle;
  margin: 10px;
  display: inline-flex;
  padding: 10px;
}

.card p {
  margin: auto;
}

.card.left, .card.right {
  font-size: 32px;
}

.card.notes {
  text-align: left;
  font-size: 13px;
}

.card.notes p {
  margin: 5px;
}

.card.notes.no-content {
  border: 1px solid gray;
}

.divider-text {
  text-align: center;
  font-size: 48px;
  border-bottom: 3px solid gray;
}

button {
  margin: 5px;
}

#deck-notes-container {
  display: none;
}


#deck-notes {
  border: 2px solid gray;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  line-height: 1.2;
}